.c1 {
display: grid; 
}

.c2 {
    position: relative; 
width: 100%; 
height: 24rem; 

}

.c3 {
    display: flex; 
color: #ffffff; 
font-size: 1.25rem;
line-height: 1.75rem; 
font-weight: 700; 
flex-direction: column; 
justify-content: center; 
align-items: center; 
width: auto; 
}

.c4 {
    margin-top: 1rem; 
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 700; 
}

.c5 {
    margin-bottom: 0.5rem; 
font-size: 1.5rem;
line-height: 2rem; 
font-weight: 700; 
}

.c6 {
    position: absolute; 
top: 0.5rem; 
left: 0.5rem; 
}

.c7 {
    display: flex; 
flex-wrap: nowrap; 
justify-content: center; 
align-items: center; 
height: 2rem; 
drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1)); 
}

.c8 {
    display: grid; 
width: 100%; 
gap: 1rem; 

}

.c9 {
    padding: 1rem; 
background-color: #ffffff; 
width: 100%; 
border-radius: 0.5rem; 
border-width: 1px; 
border-color: #E5E7EB; 
border-top-width: 1px; 
border-color: #E5E7EB; 
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
}

.c10 {
    display: flex; 
margin-bottom: 1rem; 
justify-content: center; 

}

.c11 {
    font-size: 1.25rem;
line-height: 1.75rem; 
font-weight: 700; 
line-height: 1; 

}

.c12 {
    display: flex; 
font-size: 0.875rem;
line-height: 1.25rem; 
flex-wrap: wrap; 
border-top-width: 1px; 
border-color: #E5E7EB; 

}

.c13 {
    display: flex; 
padding-top: 0.75rem;
padding-bottom: 0.75rem; 
margin-left: 1rem; 
align-items: center; 
width: 50%; 
}

.c14 {
    font-weight: 700; 

}

.c15 {
    display: flex; 
margin-left: 1rem; 
align-items: center; 

}

.c16 {
    display: none; 
padding-top: 0.75rem;
padding-bottom: 0.75rem; 
margin-left: 1rem; 
align-items: center; 
width: 50%; 
}

.c17 {
    font-weight: 700; 
}

#toggle-criteria {
    padding-top: 1rem;
padding-bottom: 1rem; 
padding-left: 2.5rem;
padding-right: 2.5rem; 
background-color: #ffffff; 
font-size: 1rem;
line-height: 1.5rem; 
font-weight: 700; 
line-height: 1rem; 
width: 100%; 
border-radius: 0.5rem; 
border-width: 2px; 
border-color: #111827; 
}

#toggle-criteria:hover {
    color: #ffffff; 
}

#criteria {
    margin-top: 1.25rem; 
}

.city-container {
    display: flex; 
padding-top: 0.5rem;
padding-bottom: 0.5rem; 
margin-left: 0.5rem;
margin-right: 0.5rem; 
flex-direction: row; 
}

.map {
    width: 83.333333%; 
height: 100%; 

}

@media (min-width: 640px) { 
    .c9 {
    padding: 2rem; 
    }
   }
  

@media (min-width: 768px) { 
    .c6 {
        left: 0; 
    }
    .c7 {
        width: 12rem; 
    }
    .c12 {
        font-size: 1.125rem;
        line-height: 1.75rem; 
    }
    .c16 {
        display: flex; 
    }
    .city-container {
        grid-column: span 3 / span 3; 
    }
   }

   @media (min-width: 1024px) { 
    .c8 {
    padding-left: 1.5rem;
  padding-right: 1.5rem; 
  padding-top: 2.25rem;
  padding-bottom: 2.25rem; 
  justify-content: center; 
  align-items: center; 
  grid-template-columns: repeat(5, minmax(0, 1fr)); 
    }
    .c9 {
        grid-column: span 2 / span 2; 
    }
    .city-container {
        width: 100%; 
        height: 100%; 
    }
   }