@import url('./city.css');

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-image {
    width: 33.3333%;
    animation-name: rotate-y;
    animation-iteration-count: infinite;
    animation-duration: 9000ms;
    animation-timing-function: ease-in;
}

.presentation-text {
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.welcome-text {
    font-style: italic;
    font-weight: 500;
    color: #0F4C81;
    text-align: center;
}

.welcome-text .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.welcome-text .subtitle {
    font-size: 1rem;
}

.search-bar {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.search-input {
    background-color: #0F4C81;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}

.search-input form {
    justify-content: space-between;
}

.search-field {
    background-color: #F8F8F8;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
}

#search-button {
    border: none;
    background: none;
    padding: 0;
}

#search-button i {
    font-size: 1rem;
    color: #FFF;
}

.world-map {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-bar {
    margin-top: 30px;
    margin-bottom: 30px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.text-xl-plus {
    position: absolute;
    left: 8px;
    bottom: 60px;
    font-size: 1.5rem;
    color: #4A5568;
}

/* .sidebar_filter { */
/* } */
